bilder/** filter=lfs diff=lfs merge=lfs -text
foton/** filter=lfs diff=lfs merge=lfs -text
portfolio/** filter=lfs diff=lfs merge=lfs -text
spel/** filter=lfs diff=lfs merge=lfs -text
video/** filter=lfs diff=lfs merge=lfs -text
